page-post {
  .post {
    margin-top: 10%;
    height: 60%;
    textarea {
      height: 100%;
    }
    textarea::placeholder {
      color: gray;
      font-style: italic;
    }
  }
  .btn-post {
    font-weight: bold;
  }
}
